.index-page-component.w-container
  .wrapper.flex.j-between
    include pages/components/logo.pug
    .data.flex.column.w-100
      include pages/top-menu.pug
      include pages/information.pug
  include pages/main-menu.pug
