.main-menu-component.flex.a-center.j-between.b-dark
  button.search-button.flex.a-center.j-center.action
    include components/search-icon
  .container.flex.a-center.j-between
    button.nav-button.fw-600 Перфораторы
    button.nav-button.fw-600 Дрели
    button.nav-button.fw-600 Шлифмашины
    button.nav-button.fw-600 Пистолеты
    button.nav-button.fw-600 Электропилы
    button.nav-button.fw-600 Наборы инструментов
    button.nav-button.fw-600 Акксесуары
  button.sale-button.action.fw-600 Распродажа

