.top-menu-component.flex.a-center.j-between
  .burger
    .line
    .line
    .line
  .menu.flex.a-center.gap-25
    a(href="/").link.fz-default Каталог инструментов
    a(href="/").link.fz-default Все для сада
    a(href="/").link.fz-default Ручной инструмент
    a(href="/").link.fz-default Электрика
    a(href="/").link.fz-default Доставка
    a(href="/").link.fz-default Оплата
    a(href="/").link.fz-default О нас
  .login.flex.a-center
    button.login-button Вход
    .separator
    button.login-button Регистрация
